.container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex: 1;
    flex-direction: row;
    height: 100vh;
    gap: 2px;
    width: 100%;
    background: #f0f0f0;
    padding: 20px 50px 50px 50px;

}
.texts{
    flex: 1;
    align-content: center;
    justify-content: center;
    /*padding: 10px 20px 20px 20px;*/
    /*margin-bottom: -150px;*/
}
/*.h1{*/
/*    display: flex;*/
/*    width: 50%;*/
/*    font-size: 25px;*/
/*}*/
/*.text{*/
/*    display: flex;*/
/*    width: 50%;*/
/*    font-size: 25px;*/
/*}*/

.p{
    /*display: flex;*/
    /*justify-content: center;*/
}

.image{
    flex: 1;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 350px;
}
/*figcaption{*/
/*    margin-bottom: -100px;*/
/*    justify-content: left;*/
/*}*/